{{extend 'base_embed.html'}}

<div class="bar">
    Please wait a moment for the wave to load or
    click <a target="_googlewave" href="{{=C_WAVEBROWSER+quoted_waveid}}">here</a> 
    to open it in Google Wave. | <a href="javascript:history.back();">Back</a>
</div>


<div id="waveframe" />

<script src="http://wave-api.appspot.com/public/embed.js" type="text/javascript"></script>
<script type="text/javascript">
  var wavePanel = new WavePanel('https://wave.google.com/wave/');
  wavePanel.setUIConfig('white', 'black', 'Arial', '13px');
  wavePanel.loadWave('{{=waveid}}');
  wavePanel.init(document.getElementById('waveframe'));
</script>